

@media (max-width: 1365px) {
	.title h2 {
	    font-size: 30px;
	}

	.caption h2 {
	    font-size: 40px;
	}

	.caption h3 {
	    font-size: 18px;
	}

	.about-left h2 {
	    font-size: 25px;
	}
}

@media (max-width: 1280px) {
	.list-benefit .row .col-md-4 {
	    padding: 0 20px;
	}

	.list-benefit .row {
	    margin: 0 -20px;
	}

	.list-news .row .col-md-4 {
	    padding: 0 20px;
	}

	.list-news .row {
	    margin: 0 -20px;
	}
	.box-benefit .container {
	    padding: 0 20px;
	}

	.box-news .container {
	    padding: 0 20px;
	}

	.list-partner ul li {
	    padding: 20px 15px;
	}

	.list-partner ul {
	    margin: 0 -15px;
	}
	.title-ft span {
	    font-size: 24px;
	}

	footer .col-md-6 .title-ft {
	    margin-top: -7px;
	}
	.list-service .row .col-md-4 {
	    padding: 0 15px;
	}

	.list-service .row {
	    margin: 0 -15px;
	}
}

@media (max-width: 1023px) and (min-width: 767px) {
	.h-menu a {
	    font-size: 12px;
	}

	.header-top .col-md-4 {
	    flex: 0 0 25%;
	    max-width: 25%;
	}

	.header-top .col-md-8 {
	    max-width: 75%;
	    flex: 0 0 75%;
	}

	.list-partner ul li {
	    padding: 10px;
	}

	.h-menu ul {
	}

	.list-partner ul {
	    margin: 0 -10px;
	}

	.list-benefit .row .col-md-4 {
	    padding: 0 7px;
	}

	.list-benefit .row {
	    margin: 0 -7px;
	}

	.list-news .row .col-md-4 {
	    padding: 0 7px;
	}

	.list-news .row {
	    margin: 0 -7px;
	}

	.title-ft {
	    font-size: 12px;
	}

	.title-ft h2 {
	    font-size: 18px;
	}

	.title h2 {
	    font-size: 25px;
	}
	.title-ft span {
	    font-size: 18px;
	}
	.detail-info h1 {
	    font-size: 30px;
	}
	.item-service .avarta img {
	    height: 195px;
	}
	.frm-contact {
	    padding: 0;
	}
}

@media (max-width: 767px) {
	.caption h2 {
	    font-size: 25px;
	}

	.caption h3 {
	    font-size: 15px;
	    padding-top: 10px;
	}

	.slide-banner .avarta img {
	    height: 40vh;
	}

	.caption h4 img {
	    max-height: 50px;
	}

	.title h2 {
	    font-size: 18px;
	}

	.title {
	    margin-bottom: 15px;
	}

	.list-partner ul li {
	    padding: 5px 10px;
	    flex: 0 0 calc(100% / 3);
	}

	.list-partner img {
	    height: auto;
	}

	.list-partner ul {
	    margin: 0 -10px;
	}

	.list-partner {
	    margin-top: 20px;
	}

	.about-left h2 {
	    font-size: 18px;
	}

	.about-left .desc {
	    margin-bottom: 20px;
	}

	.about-left {
	    margin-bottom: 30px;
	}

	.avarta-ab {
	    text-align: center !important;
	}

	.item-srv .icon {
	    margin-bottom: 10px;
	}

	.list-srv .col-md-4 {
	    margin-bottom: 40px;
	}

	.list-srv .col-md-4:last-child {
	    margin-bottom: 0;
	}

	.head-quess {
	    margin-right: 0;
	    padding: 10px;
	    margin-bottom: 10px;
	}

	.item-quess {
	    display: block;
	    margin-bottom: 30px;
	}

	.head-quess h4 {
	    font-size: 14px;
	    font-weight: normal;
	}

	.item-quess:nth-child(2n) .head-quess {
	    margin-left: 0;
	}

	::after {}

	.item-benefit:after {
	    width: 100% !important;
	}

	.item-benefit:before {
	    width: 100% !important;
	}

	.list-benefit .col-md-4 {
	    margin-bottom: 15px;
	}

	.item-benefit .info {
	    opacity: 1;
	}

	.list-benefit .col-md-4:last-child {
	    margin-bottom: 0;
	}

	.info-abs {
	    display: none;
	}
	.title-ft {
	    font-size: 15px;
	    margin-bottom: 15px;
	}

	.title-ft h2 {
	    font-size: 15px;
	}

	.footer-top .col-md-6 {
	    margin-bottom: 30px;
	}

	.footer-top .col-md-3 {
	    margin-bottom: 30px;
	}

	.copyright {
	    margin-top: 0;
	    font-size: 12px;
	    font-weight: normal;
	}
	.maps iframe {
	    height: 100px;
	}
	.header-top {
	    display: none;
	}

	.header-mobile {
	    display: block !important;
	}

	.head-right .top {
	    position: unset;
	}

	.head-right .top a {
	    font-size: 9px;
	    padding: 0 10px;
	    width: 100%;
	    justify-content: center;
	    height: 25px;
	}

	.head-right .top ul {
	    display: flex;
	    justify-content: space-between;
	    margin: 0 -5px;
	}

	.head-right .top ul li {
	    margin: 0 !important;
	    padding: 0 5px;
	    flex: 0 0 calc(100% / 3);
	}

	.menu-mobile {
	    background: #212542;
	    position: relative;
	    left: -15px;
	    width: calc(100% + 30px);
	    padding: 5px 15px;
	}

	.menu-mobile .logo img {
	    height: 50px;
	}

	.header a {
	    color: #fff !important;
	    font-size: 21px;
	}
	nav#menu {
	    z-index: 1001;
	    display: none;
	}

	nav#menu.mm-menu_opened {
	    display: block;
	}
	.list-benefit .row .col-md-4 {
	    padding: 0 7px;
	}

	.list-benefit .row {
	    margin:  0 -7px;
	}

	.list-news .row .col-md-4 {
	    padding: 0 7px;
	}

	.list-news .row {
	    margin:  0 -7px;
	}
	.head-right {
	    overflow: hidden;
	}
	.about {
	    padding: 30px 0;
	}

	.detail-info h1 {
	    font-size: 22px;
	    line-height: 1.4;
	}

	.detail-info {
	    margin-bottom: 15px;
	}

	.share-detail {
	    padding: 10px;
	}

	.share-detail h4 {
	    margin-bottom: 5px;
	}

	.share-detail li {
	    margin-right: 0 !important;
	}
	.item-service .date {
	    font-size: 12px;
	}

	.item-service .date span {
	    font-size: 12px;
	    height: 24px;
	    margin-right: 3px;
	}
	.box-contact {
	    padding: 30px 0;
	}

	.content-contact {
	    margin-top: 30px;
	}

	.info-contact .desc {
	    padding-top: 20px;
	}

	.info-contact {}

	.frm-contact {
	    padding-left: 0;
	    padding-top: 30px;
	}

	.frm-contact .item {
	    margin-bottom: 15px;
	}
}

@media (max-width: 575px) {
	.item-news {
	    display: flex;
	}

	.item-news .avarta {
	    margin-bottom: 0;
	    flex: 0 0 45%;
	    margin-right: 10px;
	}

	.item-news .avarta img {
	    height: 130px;
	}

	.item-news .desc {
	    overflow: hidden;
	    max-height: 82px;
	    line-height: 1.6;
	    font-size: 13px;
	}

	.list-news .row .col-md-4 {
	    margin-bottom: 15px;
	}

	.list-news .row .col-md-4:last-child {
	    margin-bottom: 0;
	}
	.item-service {
	    display: flex;
	}

	.item-service .avarta {
	    flex: 0 0 45%;
	    margin-right: 10px;
	    margin-bottom: 0;
	}

	.item-service .info .desc {
	    overflow: hidden;
	    max-height: 95px;
	    font-size: 13px;
	}

	.list-service .col-md-4 {
	    margin-bottom: 15px;
	}

	.list-service {
	    padding-top: 15px;
	}

	.list-service .col-md-4:last-child {
	    margin-bottom: 0;
	}

	.box-service {
	    padding: 25px 0;
	}
	.item-service .avarta img {
	    height: 135px;
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	.item-news .avarta img {
	    height: 155px;
	}

	.item-news .desc {
	    display: none;
	}

	.list-news .row .col-md-4 {
	    padding: 0 7px;
	}

	.list-news .row {
	    margin: 0 -7px;
	}
	.item-benefit {
	    overflow: hidden;
	}

	.list-benefit .row .col-md-4 {
	    padding: 0 7px;
	}

	.list-benefit .row {
	    margin: 0 -7px;
	}
	.slide-banner .avarta img {
	    height: 80vh;
	}
	.list-partner ul li {
	    flex: 0 0 25%;
	    max-width: 25%;
	}
	.list-service .row .col-md-4 {
	    padding: 0 7px;
	}

	.item-service .avarta img {
	    height: 135px;
	}
}